body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background-color: #fb565a;
  text-transform: uppercase;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
}

/* ХЭДЭР */

.main-header {
  background-color: #eeeeee;
}

.main-header .container {
  box-sizing: border-box;
  width: 1200px;
  padding: 50px 20px 0px 20px;
  margin: 0 auto;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
}

.main-nav-link {
  height: 65px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 440px;
  margin: 0px;
  margin-left: 200px;
  padding: 0px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 115px;
  margin: 0px;
  margin-left: 245px;
  padding: 0px;
  padding-left: 15px;
}

.main-menu,
.user-menu {
  list-style: none;
}

.main-menu a,
.user-menu a {
  color: #000000;
}

/* СЛАЙДЕР */

.slider {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.slider-list h3 {
  margin: 0px;
  padding: 0px;
}
/* БЛОК НАШИ УСЛУГИ */

.service-section {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.service-section-item {
  width: 300px;
  min-height: 427px;
  margin-right: 100px;
}

.service-section-item:nth-of-type(3) {
  margin-right: 0px;
}

.service-section-item .title {
  font-size: 24px;
  line-height: 30px
  font-weight: 700;
  color: #000000;
}

.service-section-item .img-container {
  width: 300px;
  height: 146px;
}

.service-section-websites .button {
  background-color: #fb565a;
}

.service-section-programs .button {
  background-color: #00ca74;
}

.service-section-presentations .button {
  background-color: #efc84a;
}


.img-container-web {
  background-image: url("../img/service-web.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.img-container-programs {
  background-image: url("../img/service-programs.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.img-container-presentations {
  background-image: url("../img/service-presentations.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*БЛОК О НАШЕЙ КОМПАНИИ  */

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 2px solid black;
}

.about-us-column.left-column {
  width: 660px;
  padding-top: 40px;
}

.about-us-column.right-column {
  width: 360px;
}

.about-us-slogan {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-us-left-subtitle,
.about-us-right-subtitle {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us-development-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.percent-value {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.description-value {
  line-height: 18px;
}

.shop-title-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

/* БЛОК ПАРТНЕРОВ */

.partners {
  margin-bottom: 79px;
  border-bottom: 2px solid black;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 43px;
  min-height: 180px;
}

/* ЗАГОЛОВОК СТРАНИЦЫ КТАЛОГА */

.shop-title {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 105px;
  margin-bottom: 60px;
  background-color: #eeeeee;
}

.shop-title-text {
  margin: 0px;
  padding: 0px;
}

/* СЕТКА ДЛЯ МЕЙНА КТАТАЛОГА */

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-wrapper > * {
  outline: 1px solid crimson;
}

.shop-main {
  margin-bottom: 60px;
}
/* ГЛАВНЫЙ ФИЛЬТР КАТАЛОГА */

.catalog-form-section {
  width: 260px;
  min-height: 775px;
}
.main-form-title,
.sorting-box-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-decoration: uppercase;
}

.grid-selection-item label,
.features-selection-item label {
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}

.sorting-type-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3)
}

.sorting-type-link.active {
  color: #000000;
}

/* ТОВАРЫ КАТАЛОГА */

.shop-content {
  width: 760px;
}

.sorting-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 272px;
  padding: 0px;
  margin: 0px;
  margin-left: 266px;
  list-style: none;
}


.sorting-box-title {
  padding: 0px;
  margin: 0px;
}

.sorting-direction {
  width: 41px;
  padding: 0px;
  margin: 0px;
  margin-left: 48px;
  list-style: none;
}

.sorting-box {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-bottom: 55px;

}

.sorting-box > * {
  outline: 1px solid crimson;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 60px;
  list-style: none;
}

.item-description h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.item-description p {
  line-height: 18px;
  color: #666666;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 444px;
  min-height: 50px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.pagination-link {
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


/*  БЛОК С КАРТОЙ*/

.map {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.address {
  position: absolute;
  left: 140px;
  top: 54px;
  box-sizing: border-box;
  width: 319px;
  min-height: 308px;
  padding: 54px 50px 47px;
  background-color: #ffffff;
}

.studio-name {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.studio-name,
.adress-text,
.phone {
  width: 210px;
}

.adress-text,
.phone {
  line-height: 18px;
  color: #666666;
}

.feedback-btn {
  background-color: #fb565a;
}

/* ПОДАВАЛ - СОЦИАЛКИ */

.footer-social.container,
.footer-social.container > * {
  outline: 1px crimson solid;
}

.footer-social {
  display: flex;
  padding-bottom: 70px;
  margin-top: 69px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.social-discount {
  margin-left: 140px;
}

.social-discount b,
.social-discount p {
  padding: 0px;
  margin: 0px;
}

.social-discount b {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.social-discount p {
  line-height: 22px
  color: #444444;
}

/* ПОП-АП */

.feedback-section {
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 70px 100px 84px;
  outline: 1px solid crimson;
}

.feedback-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.feedback-label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback-textarea {
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  line-height: 18px;
  color: #444444;
}
